<% provide(:title, 'Anisite | Contact') %>
<div class="row">
	<div class="col-md-4 col-md-offset-4">
		<h1>Contact</h1>
		<p>
			The site author can be contacted by sending an email to the following address: anisite_author@outlook.com.
		</p>
	</div>
</div>