<% provide(:title, 'Anisite | About') %>
<div class="row">
	<div class="col-md-4 col-md-offset-4">
		<h1>About</h1>
		<p>
			This site was designed in order to act as a vehicle through which it would be possible to learn the programming language Ruby, and the
			associated web development framework Ruby on Rails.
		</p>
	</div>
</div>