<% provide(:title, "Anisite | Members") %>
<p id="notice"><%= notice %></p>
<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<h1>Members</h1>

		<table>
			<thead>
				<tr>
					<th>First name</th>
					<th>Surname</th>
					<th>Options</th>
				</tr>
			</thead>

			<tbody>
				<% @users.order('first_name ASC').each do |user| %>
				<tr>
					<td><%= user.first_name %></td>
					<td><%= user.surname %></td>
					<td><%= link_to 'Show', user %></td>
				</tr>
				<% end %>
			</tbody>
		</table>

		<br>
		
		
	</div>
</div>
